0.4     chi
0.5     q
0.5     f1
0.5     f2
0.15    da
15.0    gamma
2.0     beta
-0.1    thetaH
3.0     delta
1.0     eta
1.5     n
1000    N1
1000    N2
0.45    a1
0.1     t1
0.45    a2
0.1     t2
0.45    af
0.1     tf
10      czas prowadzenia symulacji
simulation
