<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RainbowStainedGlass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RainbowManagement.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RainbowManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RainbowStainedGlass.Properties.Settings>
            <setting name="MySqlUser" serializeAs="String">
                <value>RainbowAdmin</value>
            </setting>
            <setting name="MySqlPassword" serializeAs="String">
                <value>ekhelebeth72</value>
            </setting>
            <setting name="MySqlServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MySqlPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MySqlDatabase" serializeAs="String">
                <value>rainbowstainedglass</value>
            </setting>
            <setting name="MySqlConnection" serializeAs="String">
                <value>Server=localhost; Port=3306; Database=rainbowstainedglass; User Id=RainbowAdmin; Password=ekhelebeth72;</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
        </RainbowStainedGlass.Properties.Settings>
        <RainbowManagement.Settings>
            <setting name="MySqlUser" serializeAs="String">
                <value>RainbowAdmin</value>
            </setting>
            <setting name="MySqlPassword" serializeAs="String">
                <value>ekhelebeth72</value>
            </setting>
            <setting name="MySqlServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MySqlPort" serializeAs="String">
                <value>3309</value>
            </setting>
        </RainbowManagement.Settings>
        <RainbowManagement.Properties.Settings>
            <setting name="MySqlUser" serializeAs="String">
                <value>RainbowAdmin</value>
            </setting>
            <setting name="MySqlPassword" serializeAs="String">
                <value>ekhelebeth72</value>
            </setting>
            <setting name="MySqlServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MySqlPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MySqlDatabase" serializeAs="String">
                <value>rainbowstainedglass</value>
            </setting>
            <setting name="MySqlConnection" serializeAs="String">
                <value>Server=localhost; Port=3306; Database=rainbowstainedglass; User Id=RainbowAdmin; Password=ekhelebeth72;</value>
            </setting>
        </RainbowManagement.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="RainbowDB" publicKeyToken="1D393E4E58334281" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
